@use "publicStyles" as *;

.App{
    position: relative;
    width: 100%;
    height: 100dvh;
    color: #454545;
    background: radial-gradient(circle at 30% 70%, #c9d5f7 0%, #0000 50%),
                radial-gradient(circle at 70% 20%, #e3e3e3 0%, #0000 40%), 
                radial-gradient(circle, #fff, #ededed 80%);

    .Nav{
        @extend %FlexBetween;
        width: 100%;
        height: 40px;
        padding: 5px 10px;
        background-color: #00000010;

        .Logo{
            direction: ltr;
            display: flex;
            align-items: center;
            gap: 6px;
            margin-top: -1px;
            div{
                margin-top: 3px
            }
        }
    }

    .Routers{
        @extend %FlexCenter;
        width: 100%;
        height: 50px;
        background-color: #fff;
        
        .Container{
            @extend %FlexCenter;
            
            a{
                @extend %GridCenter;
                margin: 0 15px;
                width: 35px;
                height: 35px;
                border-radius: 8px;
            }
            .active{
                color:#fff;
                background-color: #303030;
            }
        }

    }

    &-Main{
        height: calc(100dvh - 90px);
        overflow-y: auto;
        padding-top: 10px;

        .Container{
            width: 550px;
            margin: 0 auto;
            padding: 15px;
            @media (max-width: 570px) {
                width: 100%;
            }

            @mixin Card{ 
                border-radius: 8px;
                background-color: #ffffff;
                padding: 20px;
                padding-bottom: 10px;
                width: 100%;
            }

            .Card{
                @include Card;
                padding:10px;
                margin-bottom: 10px;
                overflow: hidden;
                .Title{
                    color: #acacac;
                    margin-right: -5px;
                    padding-bottom: 10px;
                }
                .Transaction-Title{
                    @extend %FlexBetween;
                    border-bottom: 1px solid #00000020;
                    padding: 0 10px 15px;
                    margin-bottom: 15px;
                }
                .Details-Transaction{
                    .Row{
                        @extend %FlexBetween;
                        padding: 5px 10px 3px;
                        border-radius: 6px;
                        .Q{
                            color: #00000060;
                        }
                    }
                    .Row:nth-child(odd){
                        background-color: #00000008;
                    }
                    .Footer{
                        padding: 10px 10px 0;
                        border-top: 1px solid #00000020;
                        display: flex;
                        gap: 20px;
                        margin-top: 15px;
                    }
                }
            }

            .Titr{
                display: flex;
                align-items: center;
                gap: 8px;
                margin-bottom: 8px;
            }

            .Search{
                @include Card;
                display: flex;
                align-items: center;
                padding: 5px 10px;
                background-color: #fff;
                border: 1px solid #00000042;
                input{
                    outline: unset;
                    border: unset;
                    padding: 0 5px;
                    width: 100%;
                    background-color: unset;

                    &::placeholder{
                        color: #ccc;
                    }
                }
            }
            
            .Add{
                .Row{
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    gap: 12px;
                    margin-bottom: 12px;
                    
                    .Item{
                        @extend .FlexG8;
                        @include Card;
                        position: relative;
                        padding: 10px 15px;
                        transition: all 0.2s;
                        &:hover{
                            background-color: #fff;
                        }
                    }
                    // .Item:first-of-type .bi{
                    //     color: rgb(71, 133, 0);
                    // }   
                    // .Item:last-of-type .bi{
                    //     color: rgba(165, 11, 0, 0.596);
                    // }   
                }
            }

            .Form{
                @include Card;
                @media (max-width: 570px) {
                    padding: 15px 0;
                }
                &-Item{
                    width: calc(100% - 40px);
                    margin: 20px;
                    gap: 10px;
                    label{
                        width: 30%;
                        text-align: end;
                        color: #00000060;
                        font-size: 13px !important;
                    }
                    input{
                        outline: unset;
                        border: unset;
                        background-color: unset;
                        width: 100%;
                        height: 40px;
                        padding: 6px 10px;
                        border-radius: 6px;
                        border: 1px solid #00000014;
                        background-color: #fff;
                        font-size: 15px !important;
                        @media (max-width:576px) {
                            font-size: 16px !important;
                        }
                    }
                    .Selection{
                        position: relative;
                        .Selection-Btn{
                            position: relative;
                            @extend %Cursor;
                            @extend %FlexBetween;
                            height: 40px;
                            padding: 6px 10px;
                            border-radius: 6px;
                            border: 1px solid #00000014;
                            background-color: #fff;
                        }
                        &-List{
                            position: absolute;
                            top: 42px;
                            right: 0;
                            width: 70%;
                            border-radius: 6px;
                            background-color: #fff;
                            z-index: 10;
                            overflow: hidden;

                            transition: all 0.3s;
                            visibility: hidden;
                            opacity: 0;
                            .Container{
                                width: 100%;
                                padding: 10px 0;
                                max-height: 165px;
                                overflow-y: auto;
                                .Item{
                                    @extend %Cursor;
                                    color: #000;
                                    padding: 8px 15px;
                                    &:hover{
                                        background-color: #00000015;
                                    }
                                }
                            }

                        }
                    }
                    .Bg-Close{
                        position: fixed;
                        width: 100%;
                        min-width: 340px;
                        height: 100dvh;
                        top: 0;
                        left: 0;
                        z-index: 1;
                        background-color: rgba(0, 0, 0, 0.5);
                        backdrop-filter: blur(5px) !important;
                        transition: all 0.3s;
                        visibility: hidden;
                        opacity: 0;
                    }
                    .Btn-Black{
                        margin-top: 15px
                    }
                }
            }

            .Banks{
                @include Card;
                @media (max-width: 570px) {
                    padding: 10px;
                }
                .Balance{
                    @extend %FlexBetween;
                    padding: 10px 20px;
                    border-bottom: 1px solid #00000010;
                    @media (max-width: 570px) {
                        padding: 10px 5px;
                    }
                    .En{
                        font-weight: bold;
                        font-size: 18px !important;
                    }
                }
                .Item{
                    @extend %FlexBetween;
                    padding: 10px 20px 20px;
                    margin: 15px 0;
                    border-bottom: 1px solid #00000010;
                    @media (max-width: 570px) {
                        padding: 10px 5px 20px;
                    }
                    .bi{
                        color: #0077ff;
                    }
                }
            }

            .Contact{
                @include Card;
                height: calc(100dvh - 180px);
                margin: 5px 0;
                padding: 5px;
                overflow-y: auto;
                .Item{
                    @extend %Cursor;
                    @extend %FlexBetween;
                    padding: 7px 10px;
                    border-radius: 5px;
                    border: 1px solid #00000000;
                    &:hover{
                        background-color: #f6f8ff !important;
                        border: 1px solid #00000025;
                    }
                }
                .Item:nth-child(even){
                    background-color: #f8f8f8
                }
            }

            .List{
                @extend .Contact;
                .Item{
                    display: block;
                    padding: 20px 10px;
                    margin-bottom: 5px;
                    border-bottom: 1px solid #00000010;
                    border-radius: 5px 5px 0 0;
                    &:active{
                        transform: translateY(2px) !important;
                    }
                    .Plus{
                        margin-bottom: 3px;
                        color: #41a100;
                    }
                    .Dash{
                        margin-bottom: 3px;
                        color: #e70101;
                    }
                    .Title{
                        color: #000;
                        font-size: 13px !important;
                    }
                }
            }

            .Home{
                display: flex;
                flex-direction: column;
                gap: 8px;
                .Profile{
                    @include Card;
                    @extend %FlexBetween;
                    padding: 15px 20px;
                }

                .Loans{
                    @extend .FlexG8;
                    .Debts{
                        @extend %Cursor;
                        @include Card;
                        height: 130px;
                        border: 1px solid #41a10080;
                        transition: all 0.3s;
                        &:hover{
                            border: 1px solid #000000;
                        }
                        .En{
                            @extend %GridCenter;
                            font-size: 22px !important;
                            font-weight: bold;
                            width: 100%;
                            height: 85%;
                            color: #555;
                            @media (max-width: 570px) {
                                font-size: 18px !important;
                            }
                        }
                    }
                    .Debts:last-of-type{
                        border: 1px solid #a1000040;
                        &:hover{
                            border: 1px solid #000000;
                        }
                    }
                }
                
                .Chart{
                    @include Card;
                    &-Container{
                        display: flex;
                        justify-content: center;
                        align-items: end;
                        margin-top: 20px;
                        gap: 2px;
                        width: 100%;
                        height: 100px;
                        .Item{
                            position: relative;
                            border-radius: 4px;
                            width: 4%;
                            min-width: 12px;
                            max-width: 22px;
                            background-color: #505050;
                            &:hover{
                                background-color: #3593eb;
                                .Detail{
                                    visibility: visible;
                                    opacity: 1;
                                }
                            }
                            .Detail{
                                position: absolute;
                                top: -52px;
                                left: 50%;
                                display: flex;
                                flex-direction: column;
                                gap: 3px;
                                padding: 4px 5px;
                                border-radius: 5px;
                                transform: translateX(-50%);
                                color: #fff;
                                background-color: #3593eb;
                                box-shadow: 0 0 5px;
                                z-index: 5;
                                visibility: hidden;
                                opacity: 0;
                                &::after{
                                    content: "";
                                    bottom: -10px;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    position: absolute;
                                    width: 2px;
                                    height: 10px;
                                    background-color: #3593eb;
                                }
                                span{
                                    font-size: 11px !important; 
                                    font-family: Arial, Helvetica, sans-serif;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.shape {
  width: 200px;
  height: 200px;
  background: black;
  
  clip-path: path("M 0 0 L 0 200 A 200 200 0 0 0 200 0 Z");
}


