@use "publicStyles" as *;

* {
   outline: none !important;
   box-sizing: border-box;
   font-size: 14px !important;

   @media(max-width:576px) {
      font-size: 15px !important;
   }
}

html {
   scroll-behavior: smooth;
}

img, svg {
   vertical-align: middle !important;
}

body {
   position: relative;
   min-width: 320px !important;
   .Loading{
      @extend %GridCenter;
      position: absolute;
      top: 0;
      width: 100dvw;
      height: 100dvh;
      background-color: #00000080;
      backdrop-filter: blur(5px);
      .Logo{
         margin-top: -20px;
         font-size: 40px !important;
         color: #fff !important;
         animation: loading 2s ease-in-out infinite;
      }
      @keyframes loading {
         0%,100%{
            transform: scale(0.8)
         }
         50%{
            transform: scale(1)
         }
      }
   }
}

a {
   @extend .Cursor;
   display: block;
   text-decoration: none;
   color: inherit;
   
   &:hover {
      color: inherit;
   }
}

button {
   @extend .Cursor;
   outline: none;
   border: none;
   background-color: inherit;
   color: inherit;
}

ul {
   padding-right: 2rem;
}

small{
   display: block !important;
   font-size: 12px !important;
}

.Show{
   visibility: visible!important;
   opacity: 1!important;
}

.En{
   font-family: Arial, Helvetica, sans-serif;
}

.FlexCenter {
   @extend %FlexCenter;
}

.FlexBetween {
   @extend %FlexBetween;
}

.GridCenter {
   @extend %GridCenter;
}

.Cursor{
   @extend %Cursor;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
   transition: background-color 9999s ease-in-out 0s;
   -webkit-text-fill-color: inherit !important;
}