@import "tailwindcss";

@font-face {
  font-family: iransans;
  src: url("/font/iransans.woff2") format("woff2"),
    url("/font/iransans.woff") format("woff"),
    url("/font/iransans.ttf") format("truetype");
  font-display: swap;  
}

*{
  font-family: iransans;
}
